<div class="container">
  <!-- <div class="nav-menu-bottom">
    <div class="bottom-nav-item">
      <a href="{{ site.url }}/profile">
        <i class="fa fa-user-circle" aria-hidden="true"></i>
        <p>Profile</p>
      </a>
    </div>
    <div class="bottom-nav-item">
      <a href="{{ site.url }}/upcoming-events">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <p>Upcoming</p>
      </a>
    </div>
    <div class="bottom-nav-item">
      <a href="{{ site.url }}/search">
        <i class="fa fa-search" aria-hidden="true"></i>
        <p>Search</p>
      </a>
    </div>
    <div class="bottom-nav-item">
      <a href="{{ site.url }}/activity">
        <i class="fa fa-heartbeat" aria-hidden="true"></i>
        <p>Activity</p>
      </a>
    </div>
    <div class="bottom-nav-item">
      <a href="{{ site.url }}/bookmarks">
        <i class="fa fa-bookmark" aria-hidden="true"></i>
        <p>Bookmarks</p>
      </a>
    </div>
  </div> -->

  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">

      <ul class="nav navbar-nav navbar-bottom">
        <li>
          <a href="{{ site.url }}/profile">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <p>Profile</p>
          </a>
        </li>
        <li>
          <a href="{{ site.url }}/discover">
            <i class="fa fa-home" aria-hidden="true"></i>
            <p>Discover</p>
          </a>
        </li>
        <li>
          <a href="{{ site.url }}/search">
            <i class="fa fa-search" aria-hidden="true"></i>
            <p>Search</p>
          </a>
        </li>
        <li>
          <a href="{{ site.url }}/activity">
            <i class="fa fa-heartbeat" aria-hidden="true"></i>
            <p>Activity</p>
          </a>
        </li>
        <li>
          <a href="{{ site.url }}/bookmarks">
            <i class="fa fa-bookmark" aria-hidden="true"></i>
            <p>Bookmarks</p>
          </a>
        </li>
      </ul>
    </div>
  </nav>

</div>
