<div class="container-fluid no-side-padding">
  <nav class="navbar navbar-default navbar-search">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="input-group discover-search-bar">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <i class="fa fa-filter" aria-hidden="true">
            </i></button>
          </span>
          <input type="text" class="form-control" placeholder="Find an event, interest, or group">
          <span class="input-group-btn" type="button">
            <button class="btn btn-default" type="button">
              <i class="fa fa-search" aria-hidden="true">
            </i></button>
          </span>
        </div>
      </div>
    </div>
  </nav>
</div>
