<a href="{{ site.url }}/event1">
  <div class="panel panel-default  event">
    <div class="panel-body">
      <div class="container-fluid no-side-padding">
        <h4 class="title">Hike</h4>

        <span class="badge event-type">MIC</i></span>


      </div>
      <div class="container-fluid no-side-padding event-info">
        <h5 class="location">
          <i class="fa fa-map-marker" aria-hidden="true"></i> Los Angeles, CA
        </h5>

        <p>
          <div class="event-date">
            Saturday, Aug. 26th
          </div>

          <div class="event-time">
            9 AM - 12 PM
          </div>
        </p>

      </div>
    </div>
  </div>
</a>
