<a href="{{ site.url }}/event1">
  <div class="panel panel-default  event">
    <div class="panel-body">
      <div class="container-fluid no-side-padding">
        <h4 class="title">Happy Hour</h4>

        <span class="badge event-type">MIC</span>


      </div>
      <div class="container-fluid no-side-padding event-info">
        <h5 class="location">
          <i class="fa fa-map-marker" aria-hidden="true"></i> Atlanta, GA
        </h5>
        
        <p>
          <div class="event-date">
            Thursday, Aug. 17th
          </div>

          <div class="event-time">
            4 PM - 6 PM
          </div>
        </p>

      </div>
    </div>
  </div>
</a>
