<div class="container-fluid footer">
  <p>&copy; Made in 2017 in San Francisco</p>
  <hr  />
  <div class='footer-icons'>
    <a href="https://www.youtube.com/channel/UCq7yUim6FnjyvfOj4cPwd3g" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
    <a href="mailto:visualizeua@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
    <a href="https://github.com/ajzeller/visualizeua" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
    <a href="https://twitter.com/visualize_UA" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  </div>

</div>
