---
layout: blank
title: Setup
permalink: /setup/

---

<h1>I'm interested in...</h1>


<div class="container interest-container">
  {% include interest-search-bar.html %}

<div class="interest-bubbles">
  <div class="panel panel-default panel-interest">
    <div class="panel-body">
      running <i class="fa fa-times" aria-hidden="true"></i>
    </div>
  </div>

  <div class="panel panel-default panel-interest">
    <div class="panel-body">
      design <i class="fa fa-times" aria-hidden="true"></i>
    </div>
  </div>

  <div class="panel panel-default panel-interest">
    <div class="panel-body">
      wine <i class="fa fa-times" aria-hidden="true"></i>
    </div>
  </div>
</div>

{% include next-button-bottom.html %}

</div>
